.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(238.00000101327896, 161.6416695713997, 221.2011480331421, 0.28999999165534973);
	width:610px;
	height:685px;
	position:absolute;
}.e1_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(251.81248784065247, 175.87003648281097, 171.02265179157257, 1);
	width:610px;
	height:58px;
	position:absolute;
	left:0px;
	top:17px;
}.1_7 { 
	border:1.5px solid rgba(0, 0, 0, 1);
}.e1_20 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-179.12499999626633deg);
	background-color:rgba(251.81248784065247, 175.87003648281097, 171.02265179157257, 1);
	width:623.6524658203125px;
	height:59.00661849975586px;
	position:absolute;
	left:610.5796508789062px;
	top:681.5235595703125px;
}.1_20 { 
	border:1.5px solid rgba(0, 0, 0, 1);
}.e1_15 { 
	color:rgba(0, 0, 0, 1);
	width:548px;
	height:35px;
	position:absolute;
	left:46px;
	top:29px;
	font-family:Stalin One;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e1_21 { 
	width:1px;
	height:18px;
	position:absolute;
	left:314px;
	top:672px;
}.e1_22 { 
	background-color:rgba(251.81248784065247, 175.87003648281097, 171.02265179157257, 1);
	width:259px;
	height:496px;
	position:absolute;
	left:33px;
	top:98px;
	border-top-left-radius:56px;
	border-top-right-radius:56px;
	border-bottom-left-radius:56px;
	border-bottom-right-radius:56px;
}.1_22 { 
	border:1.5px solid rgba(0, 0, 0, 1);
}.e1_23 { 
	background-color:rgba(251.81248784065247, 175.87003648281097, 171.02265179157257, 1);
	width:206px;
	height:232px;
	position:absolute;
	left:380px;
	top:98px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}.1_23 { 
	border:1.5px solid rgba(0, 0, 0, 1);
}.e1_24 { 
	background-color:rgba(251.81248784065247, 175.87003648281097, 171.02265179157257, 1);
	width:234px;
	height:185px;
	position:absolute;
	left:360px;
	top:357px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
}.1_24 { 
	border:1.5px solid rgba(0, 0, 0, 1);
}.e1_25 { 
	background-color:rgba(251.81248784065247, 175.87003648281097, 171.02265179157257, 1);
	width:116px;
	height:29px;
	position:absolute;
	left:444px;
	top:565px;
}.1_25 { 
	border:1.5px solid rgba(0, 0, 0, 1);
}.e1_27 { 
	color:rgba(0, 0, 0, 1);
	width:104px;
	height:18px;
	position:absolute;
	left:450px;
	top:571px;
	font-family:Stalin One;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e1_28 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:35px;
	position:absolute;
	left:64px;
	top:120px;
	font-family:Stalin One;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e1_29 { 
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:21px;
	position:absolute;
	left:422px;
	top:116px;
	font-family:Stalin One;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e1_30 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:25px;
	position:absolute;
	left:419px;
	top:369px;
	font-family:Stalin One;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}